.home-container {
  background-color: #333646;
  height: 600px;
  top: 0;
  position: relative;
}
.title {
  position: relative;
  top: 30%;
  left: 25%;
}
h1 {
  margin: 0;
  color: white;
  font-size: 50px;
}
.underline {
  margin-top: 20px;
  margin-left: 5px;
  width: 50px;
  height: 5px;
  border-radius: 20px;
  background-color: #ffd700;
}
